---
import Layout from '~/layouts/PageLayout.astro';
import Game from '~/components/Entercnatoverse';

const title = 'Cantoverse Gallery';
---

<Layout meta={{ title }}>
  <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
    <div class="flex justify-center items-center h-screen">
      <Game client:load />
    </div>
  </div>
  <script is:inline src="/web3/index.js"></script>
</Layout>
