---
import Layout from '~/layouts/PageLayout.astro';

const title = 'Cantoverse Gallery';
---

<Layout meta={{ title }}>
  <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
    <div class="flex justify-center items-center h-screen">
      <iframe
        src="https://gateway.lighthouse.storage/ipfs/QmVEfSLJcGWussZ3ertnCNA9rYLDt47Yg7DoA4cL4eVnri/"
        width="1100"
        height="700"></iframe>
    </div>
  </div>
</Layout>
