---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Visit Gallery', href: '/gallery', icon: 'tabler:play' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    callToAction3={{ text: 'Free Mint', href: '/mint', icon: 'tabler:rocket' }}
    image={{ src: import('~/assets/images/hero.webp'), alt: 'Cantoverse Hero Image' }}
  >
    <Fragment slot="title">
      Explore the Art Gallery and Decentralized Marketplace of <span class="text-accent highlight">Cantoverse</span>,
      built on <span class="text-accent highlight">Canto</span>
    </Fragment>

    <Fragment slot="subtitle">
      Discover unique NFTs created by talented artists from around the world, and buy or sell them securely on
      Cantoverse. Whether you're a collector or an artist, Cantoverse provides a seamless and immersive experience that
      transcends borders and boundaries.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    highlight="Features"
    title="What you get with Cantoverse"
    subtitle="Features in our Gallery and upcoming Marketplace"
    items={[
      [
        {
          title: 'Immersive 3D Gallery',
          description:
            'The Cantoverse Art Gallery is built on Unity3D, providing a fully immersive and interactive experience for art enthusiasts. Explore the gallery and discover unique NFTs created by talented artists from around the world.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Royalties',
          description:
            'Cantoverse supports royalties for artists, allowing them to earn a percentage of the sale price each time their NFT is resold on the platform. This creates a long-term revenue stream for artists and encourages them to create high-quality work.',
          icon: 'tabler:components',
        },
        {
          title: 'Dynamic Pricing',
          description:
            'Cantoverse supports dynamic pricing, allowing sellers to adjust their prices in real-time based on market conditions. This can help sellers to maximize their profits and react quickly to changes in demand.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'User-Friendly Interface',
          description:
            'Cantoverse has a user-friendly interface that is easy to navigate and use, even for users who are new to blockchain technology. This makes the platform accessible to a wider audience and can help to increase adoption over time.',
          icon: 'tabler:user',
        },
        {
          title: 'Blockchain Technology',
          description:
            'Cantoverse leverages blockchain technology to create a transparent and decentralized platform. This provides users with greater control over their transactions and assets, and reduces the risk of censorship or manipulation.',
          icon: 'tabler:link',
        },
        {
          title: 'Community NFT',
          description:
            "Cantoverse's NFT offering provides early adopters with exclusive access to alpha products and services. Moreover, NFT holders have the flexibility to add or remove up to four friends (wallets) for granting access.",
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />


  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Find out more content in our Blog"
    information={''}
    postIds={[]}
  />

</Layout>
