---
import Layout from '~/layouts/PageLayout.astro';
import Home from '~/components/mint/NewMint';

const title = 'Cantoverse NFT Mint';
---

<Layout meta={{ title }}>
  <div class="flex justify-center">
    <Home client:only />
  </div>
</Layout>
